<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/login" class="btn btn-dark">Login</a>
    <a href="/register" class="btn btn-dark">Signup</a>
    <a href="https://ibb.co/g9zZ5YN"><img src="https://i.ibb.co/YQpBzgm/IMG-20240828-WA0008.jpg" alt="IMG-20240828-WA0008" border="0"></a>
    <p>
        <h6>STUDLAB is a collaborative platform designed to faciliate project based learning , smart learning ,
         networking and innovation  among students, educators ,and professionals , fostering a dynamic virtual community that 
         bridges the gap between academia and industry.</h6>
        
    </p>
</body>
</html>