{% extends 'app.html' %}
{% block content %}


<div class="container">
  <h2>Welcome to the Dashboard</h2>

    {% if user %}
        <p>user information</p>
        <ul>
            <li>Name : {{ user[1] }}</li>
            <li>Email : {{ user[2] }}</li>
        </ul>
        <a href="/logout" class="btn btn-dark">Logout</a>
        <a href ="/chat" class="btn btn-dark ">Discussion</a>
        <a href ="/aboutus" class="btn btn-dark ">About Us</a>
        <a href ="/upload" class="btn btn-dark ">Upload</a>
        <a href ="/files" class="btn btn-dark ">Download</a>

    {% endif %}
</div>

{% endblock %}